body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-chat {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: contain;
    background-image: url(http://papers.co/wallpaper/papers.co-va81-wallpaper-emoticon-charms-bw-pattern-23-wallpaper.jpg);
}
/*.activity-item.SEND_MESSAGE .chat {
    font-weight: 700;
}*/
li.activity-item.SEND_MESSAGE {
    background-color: #0000006b;
    font-weight: 700;
    border: 1px solid #bbbbbb63;
    border-radius: 4px;
}

