body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-chat {
    background-size: contain;
    background-image: url(/bg.png);
    background-blend-mode: color;
  /*background-color: #0000005e;*/
}

li.activity-item.SEND_MESSAGE {
    background-color: #0000006b;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
}

textarea.chat{border-top: none!important;}
.btn.focus, .btn:focus{box-shadow: none;}
nav{border-bottom: none!important;}
textarea.chat{font-weight: 700;}

